@charset "utf-8";

section .inner .product .btn_pause {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 50%;
    margin-right: -36px;
    bottom: 18px;
    background: url("../images/btn_rolling_s_stop.png") no-repeat;
    text-indent: -99999px;
}

/* section .inner .product .btn_play {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 50%;
    margin-right: -54px;
    bottom: 18px;
    background: url("../images/btn_rolling_s_play.png") no-repeat;
    text-indent: -99999px;
} */

section .inner .product .btn_pause.on {
    background: url(../images/btn_rolling_s_play.png) no-repeat;
}