@charset "utf-8";
body{
    font-family: "맑은 고딕", "Malgun Gothic", sans-serif;
    color: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
.intro{
    width: 100%;
    height: 100vh;
    background: url(../images/bg_section_01.jpg) no-repeat;
    background-size: cover;
}
.intro>.inner{
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}
.intro>.inner>.info>div{
    margin-bottom: 70px;
}
.intro>.inner>.info>div:last-child{
    margin-bottom: 0;
}
.intro>.inner>.info>.time>h3{
    font-size: 18px;
}
.intro>.inner>.info>.time>.clock{
    font-size: 50px;
    font-weight: 900;
}
.intro>.inner>.info h2{
    font-size: 36px;
    font-weight: 800;
}
.intro>.inner>.info h4{
    font-size: 18px;
    opacity: 0.3;
}