@charset "utf-8";

main {
    width: 1200px;
    height: 500px;
}

main .slide {
    width: 1200px;
    height: 300px;
}

main .slide .slide-contents {
    width: 1200px;
    height: 300px;
    margin-top: 0;
}

main .slide .slide-contents a {
    width: 1200px;
    height: 300px;
    position: relative;
}

main .slide .slide-contents>a>div.img {
    width: 1200px;
    height: 300px;
    background-size: cover;
    text-indent: -9999px;
}

main .slide .slide-contents>a>div.img:first-child {
    background: url(../images/img1.jpg) no-repeat;
}

main .slide .slide-contents>a>div.img:nth-child(2) {
    background: url(../images/img2.jpg) no-repeat;
}

main .slide .slide-contents>a>div.img:last-child {
    background: url(../images/img3.jpg) no-repeat;
}

main .slide .slide-contents a p {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: 700;
    color: var(--main_color);
}

main ul.other-contents {
    width: 1200px;
    height: 200px;
    display: flex;
}

main ul.other-contents>li {
    width: 400px;
    height: 200px;
    text-align: center;
}

main ul.other-contents>li>ul {
    width: 380px;
    height: 170px;
    margin: 20px 10px;
}

main ul.other-contents>li>.notice_box {
    width: 380px;
    height: 170px;
    margin: 20px 10px;
    border: 1px solid var(--main_color);
    position: relative;
    padding: 10px 10px;
}

main ul.other-contents>li>.notice_box>p {
    padding: 0 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    background: var(--background_color);
    color: var(--text_color);
}

main ul.other-contents>li>.notice_box>ul.notice>li>a {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
main ul.other-contents>li>.notice_box>ul.notice>li>a:hover>p{
    color: var(--sub_color);
}

main ul.other-contents>li>.notice_box>ul.notice>li>a>p {
    color: var(--text_color);
}

main ul.other-contents>li>.gallery_box {
    width: 380px;
    height: 170px;
    margin: 20px 10px;
    position: relative;
    border-top: 1px solid var(--main_color);
}

main ul.other-contents>li>.gallery_box>ul.gallery {
    display: flex;
    justify-content: space-between;
}

main ul.other-contents>li>.gallery_box>p {
    padding: 0 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    background: var(--background_color);
    color: var(--text_color);
}

main ul.other-contents>li>.gallery_box>ul.gallery>li {
    width: 120px;
}

main ul.other-contents>li>.gallery_box>ul.gallery>li>a>.img {
    width: 120px;
    height: 150px;
    margin-top: 20px;
    text-indent: -9999px;
}

main ul.other-contents>li>.gallery_box>ul.gallery>li:first-child>a>.img {
    background: url(../images/icon1.png) no-repeat;
    background-size: cover;
}

main ul.other-contents>li>.gallery_box>ul.gallery>li:nth-child(2)>a>.img {
    background: url(../images/icon2.png) no-repeat;
    background-size: cover;
}

main ul.other-contents>li>.gallery_box>ul.gallery>li:last-child>a>.img {
    background: url(../images/icon3.png) no-repeat;
    background-size: cover;
}

main ul.other-contents>li>.gallery_box>ul.gallery>li>a>.img:hover{
    filter: brightness(0.9) saturate(0.7);
    transition: filter 0.3 ease-in-out;
}
main ul.other-contents>li:last-child {
    width: 380px;
    height: 180px;
    margin: auto;
}
main ul.other-contents>li:last-child>a>.img{
    width: 380px;
    height: 180px;
    background: url(../images/banner.jpg) no-repeat;
    background-size: cover;
    text-indent: -9999px;
}
main ul.other-contents>li:last-child>a>.img:hover{
    filter: brightness(0.9) saturate(0.7);
    transition: filter 0.3 ease-in-out;
}