@charset "utf-8";
.tabbar{
    width: 100%;
    height: 65px;
    /* background: gold; */
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
}
.tabbar .tabnav{
    width: 100%;
    height: 65px;
    background: url(../images/navi_bg.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.tabbar .tabnav>ul>li{
    display: flex;
    align-items: center;
    width: 18vw;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.tabbar .tabnav>ul{
    display: flex;
}

.tabbar .tabnav>ul>li>a{
    color: #d3d3d3;
}
.tabbar .tabnav>ul>li.on>a{
    color: #009233;
}