@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "roboto", "Noto Sans Korean", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    display: block !important;
    text-decoration: none;
    color: inherit;
}
img{
    border: none;
    display: block !important;
}
li{
    list-style: none;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}