@charset "utf-8";

header {
    width: 1200px;
    height: 100px;
    /* background: aqua; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}
/* 헤더 메인메뉴 */
header nav ul.gnb {
    width: 600px;
    height: 49px;
    display: flex;
    /* background: darkkhaki; */
}

header nav ul.gnb>li {
    width: 150px;
    height: 100%;
    /* background: fuchsia; */
    position: relative;

}

header nav ul.gnb>li>a {
    display: block;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

header nav ul.gnb>li:hover a {
    background: #F44336;
    color: #fff;
}