@charset "utf-8";
header nav ul.gnb>li>ul.depth2{
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    z-index: 50;
    display: none;
}
header nav ul.gnb>li>ul.depth2>li{
    width: 100%;
}
header nav ul.gnb>li>ul.depth2>li:hover a{
    background: #fff;
    color: #f44336;
}
header nav ul.gnb>li>ul.depth2>li>a{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
.gnbbg{
    width: 100%;
    height: 120px;
    background: #f44336;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 49;
    display: none;
}