@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    width: 100%;
}

.wrap div {
    width: 500px;
    height: 300px;
    margin: auto;
    background: gold;
}

.wrap p {
    text-align: center;
}

.wrap p button {
    cursor: pointer;
}