@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{
    font-family: "Noto Sans KR", sans-serif;
}
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
button{border:none;background: none;cursor: pointer;}
img{display:block;border:none;}

header{
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #999;
}
header .inner{
    width: 1130px;
    height: 100px;
    margin: 0 auto;
    /* background: gold; */
}
header .inner .top{
    height: 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header .inner .top .lang{
    display:flex;
    gap:20px;
}
header .inner .top .lang li a{
    font-size:13px;
    color:#8b8b8b;
}
header .inner .top .sns{
    display:flex;
    gap:20px;
}
header .inner .top .sns li a{
    font-size:13px;
    color:#8b8b8b;
}
header .inner .bottom{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner .bottom ul.gnb{
    display:flex;
    gap:60px;
}
header .inner .bottom ul.gnb li a p{
    font-size:16px;
    color:#979797;
    text-align: center;
}
header .inner .bottom ul.gnb li a h3{
    font-size:16px;
    color:#676767;
    font-weight: 700;
    text-align: center;
}

/* main  영역 */
main{
    width: 100%;
}
main .slider{
    width: 100%;
}
main .slider div a{
    display:block;
    width: 100%;
    height: 550px;  
}
main .slider .visual1 a{
    background: url("../images/2019price_pcmain4_new.jpg") no-repeat center top;
}
main .slider .visual2 a{
    background: url("../images/2023_greek_pcmain.jpg") no-repeat center top;
}
main .slider .visual3 a{
    background: url("../images/2024_han_pcmain.jpg") no-repeat center top;
}
main .slider .visual4 a{
    background: url("../images/2024_tira_pcmain.jpg") no-repeat center top;
}
main .slider .visual5 a{
    background: url("../images/2024_zero_pcmain.jpg") no-repeat center top;
}
main .slider .visual6 a{
    background: url("../images/2025_straw_pcmain.jpg") no-repeat center top;
}
main .slider .visual7 a{
    background: url("../images/2025_yobing_pcmain.jpg") no-repeat center top;
}
main .slider .visual8 a{
    background: url("../images/2025_zero_pcmain.jpg") no-repeat center top;
}

/* 죄우버튼 교체 */
/* 이전버튼 수정 */
main .slider .slick-prev{
    position: absolute;
    left: 50%;
    margin-left: -700px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 18px;
    height: 30px;
    background: url("../images/btn_slide_prev_new.png") no-repeat;
    text-indent: -99999px;
}

/* 다음버튼(next) */
main .slider .slick-next{
    position: absolute;
    right: 50%;
    margin-right: -700px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 18px;
    height: 30px;
    background: url("../images/btn_slide_next_new\ \(1\).png") no-repeat;
    text-indent: -99999px;
}


main .slider .slick-dots{
    display: flex;
    position: absolute;
    gap: 8px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
/* 1,2,3,4,5,6 대신에 원으로 변경 */
main .slider .slick-dots li button{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 100%;
    text-indent: -99999px;
}
/* 활성화된 클래스의 버튼 색상 변경 */
main .slider .slick-dots li.slick-active button{
    background: #FF6801;
}
